@media (prefers-color-scheme: light) {  
    body {  
       background: white;    
       color: black;  
    }

    .searchbar{
        background-color: white;
    }

    .list-group-item{
        background-color: #ffcafacf;
        color:#717171;
    }
    
    .list-group-item:hover{
        background-color: #FFCAFA;
        color: #82A8F1;
    }

    #imgCaption{
        color: #717171;
    }

    a,
    a:hover{
        color: #82A8F1;
    }
    
    .topSitesCardImgSection{
        border-bottom: 2px solid #dcdcdc;
        background-color: #82A8F1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .topSitesCardBody{
        color: black;
    }
}
@media (prefers-color-scheme: dark) {  
    body {  
       background: rgba(0,0 ,0,0.9);
       color: white; 
    }

    .searchbar{
        background-color: black;
        color: white;
    }

    .bar{
        background-color: black;
        color: white;
    }

    .list-group-item{
        background-color: #ca181b98;
        color: #fffd88;
    }
    
    .list-group-item:hover{
        background-color: #CA181C;
        color: #f0f0f0;
    }

    #imgCaption{
        color: #717171;
    }

    a,
    a:hover{
        color: #f0f0f0a6;
    }

    .topSitesCardImgSection{
        border-bottom: 2px solid #717171;
        background-color: #ca181b98;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .topSitesCardBody{
        color: white;
    }

    .card{
        background-color: rgba(0,0 ,0,0.9);
    }
}

#imgCaption{
    font-size: 15px;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

#additionalInfoDisplay{
    font-size: 14px;
    text-align: left;
}

.bar{
    margin:0 auto;
    max-width:575px;
    height: 45px;
    border-radius:30px;
    border:3px solid #dcdcdc;
}

.bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}

.searchbar{  
    height:100%;
    border:none;
    border-radius:30px;
    width:95%;
    font-size:16px;
    outline: none;
}

.searchIcon{
    height:18px;
    position:relative;
    left:1.5%;
}

a,
a:hover{
    text-decoration: underline;
}